*{
    margin: 0;
    padding: 0;
}
#navigationList{
    display: flex;
}
#navigationList li{
    display: inline-block;
    padding-left: 50px;
}
header{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}
#main{
    height: 650px;
    background: linear-gradient(90deg, white 50%, black 50%);
    width: 1250px;
    margin: auto;
    margin-top: 50px;
}
body {
    background-image: url("images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}