*{
    margin: 0;
    padding: 0;
}
#navigationList{
    display: flex;
}
#navigationList li{
    display: inline-block;
    padding-left: 50px;
}
#main{
    background: url("images/main-bg.jpg") no-repeat;
    background-size: cover;
}
#pt{
    margin-left: 800px;
    height: 800px;
    width: auto;
    margin-top: -560px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    transition: 0.4s;
}
nav a:hover {
    background-color: white;
    color: #ff4240;
    padding: 10px 10px;
}
nav{
    background-color: #ff4240;
    padding-bottom: 10px;
    padding-top: 10px;
}
body{
    background-color: #ff4240;
    font-family: monospace;
}
.text{
    width: 38%;
}
#intro{
    width: 1000px;
    margin: auto;
    position: relative;
    top: 150px;
    color: white;
    font-size: larger;
}
.text h2 {
    color: white;
    font-family: 'Mansalva', cursive;
    overflow: hidden;
    border-right: .13em solid red;
    white-space: nowrap;
    margin: 0 auto;
    animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: red }
}
.current a{
    border-bottom: dotted white;
}
#description{
    padding-top: 25px;
    line-height: 2em;
    width: 40%;
    margin-bottom: 30px;
    text-align: justify;
}
#learn-more{
    text-decoration: none;
    color: white;
    background: #ff4240;
    padding: 10px 15px;
    border-radius: 9px;

}
#learn-more:hover{
    background-color: white;
    color: #ff4240;
    transition: 0.4s;
}
#logo{
    margin-bottom: 10px;
}
#attribution {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}
#contain{
    background: linear-gradient(90deg, white 50%, #ff4240 50%);
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,.4);
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
form{
    float: right;

}
input,label,button{
    display: block;
    color: white;
}
#cartoon{
    width: 400px;
    height: 400px;
}
#contain a img{
    width: 40px;
    height: 40px;
}
#contain h2{
    font-family: 'Mansalva', cursive;
    position: relative;
    left: 400px;
    top: 200px;
    font-size: xx-large;
}
#attribute{
    position: relative;
    right: 450px;
    bottom: 50px;
    color: lightgray;
    text-decoration: none;
}
label{
    font-size: x-large;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
form{
    position: relative;
    top: 35px;
    right: 200px;
}
#firstName,#lastName,#email{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 7px 5px whitesmoke;
}
#subject{
    width: 300px;
    height: 80px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px whitesmoke;
}
#submit{
    color: #ff4240;
    border: none;
    padding: 5px 15px;
    margin-top: 10px;
    transition: 0.4s;
    border-radius: 5px;
}
#submit:hover{
    cursor: pointer;
    background: lightgreen;
    color: white;
}
::placeholder{
    padding-left: 20px;
    padding-top: 5px;
}
.contact img:hover{
    opacity: 0.8;
}
#travels{
    background: url("images/travel-bg.jpg") no-repeat;
    background-size: cover;
    height: 1100px;
}
#travels img{
    width: 500px;
    height: 500px;
}
#travels p{
    width: 300px;
    color: white;
    font-size: large;
    text-align: center;
}
.collage1{
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
}
.collage2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    margin-left: 50px;
}
#txt1{
    padding-left: 40px;
    background: rgba(233,233,211,0.25);
    padding-top: 70px;
    padding-right: 40px;
}
#txt2{
    padding-right: 40px;
    background: rgba(233,233,211,0.25);
    padding-top: 100px;
    padding-left: 40px;
}
#attr{
    color: white;
    text-decoration: none;
    float: right;
}
#lifestyle{
    background: url("images/lifestyle-bg.jpg") no-repeat;
    background-size: cover;
    height: 750px;
}
#handball{
    margin-left: 100px;
    margin-top: 300px;
    height: 230px;
    width: 400px;
}
#ohrid{
    width: 240px;
    height: 444px;
}
#chess{
    width: 400px;
    height: 200px;
    position: relative;
    right: 674px;
    bottom: 245px;
}
#lifestyle img{
    border: 5px solid darkred;
}
#hobbies{
    width: 500px;
    float: right;
    margin-top: -440px;
    margin-right: 200px;
    line-height: 2em;
    color: white;
    text-align: justify;
    background: rgba(255,0,10,0.68);
}
#hobbies p{
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
}
#hobbies h1{
    font-size: xxx-large;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    padding-bottom: 30px;
    margin-top: -30px;
    margin-left: 70px;
}
#board{
    width: 500px;
    height: 250px;
    margin-left: 500px;
    margin-top: -60px;
}
#about h1{
    position: relative;
    bottom: 140px;
    left: 600px;
    font-family: 'Mansalva', cursive;
    color: #ff4240;
    font-size: xxx-large;
}
#paragraphs{
    width: 1000px;
    margin: auto;
    font-size: large;
}
#paragraphs p{
    padding: 5px 20px;
    text-align: justify;
}
#about  p:nth-child(1),#about  p:nth-child(2){
    width: 50%;
}
#about p:nth-child(2){
    background: brown;
    float: right;
    margin-top: -170px;
    margin-right: -80px;
    height: 160px;
    color: whitesmoke;
}
#about  p:nth-child(1){
   background: whitesmoke;
    color: brown;
    height: 160px;
}
#about p:nth-child(3){
    background: darkgrey;
    color: crimson;
    width: 1040px;
    text-align: center;
}
q{
    font-weight: bold;
    display: block;
    transition: 0.4s;
}
b:hover{
    font-size: xx-large;
    transition: 0.4s;
}
q:hover{
    background: #ff4240;
    color: darkgrey;
}